@font-face {
  font-family: "font_h1_header";
  src: url(".././fonts/Arian_Grqi_U.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "font_all";
  src: url(".././fonts/Arian_Grqi_i_U.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbarMain {
  z-index: 2;
  position: absolute;
  padding: 2rem 0rem 2rem 2rem;
  background-color: #dcddd5;
  font-family: "font_text_navbar";
  font-weight: bold;
  width: 100%;
  top: 0;
  left: 0;
}

.navbar-nav > li > a {
  color: #102025 !important;
  font-size: 16px;
}

.navbar-nav > .active > a {
  background-color: #fff !important;
}

.navbar-nav > li > a:hover {
  color: #e9585e !important;
  font-size: 18px;
}

.navbar-toggler {
  background: #e9585e;
}

.navbar-toggler:hover {
  background: #f0a0a0;
}

.headerMain {
  height: 100vh;
  color: #fff;
  padding: 0 20px;
}
.headerMain .headerMain_bgvideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: no-repeat center center/cover;
}
.headerMain .headerMain_bgvideo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.headerMain video {
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}
.headerMain .headerMain_content {
  z-index: 1;
}
.headerMain .headerMain_content h1 {
  font-size: max(2vw, 50px);
  font-weight: 700;
  font-family: "font_h1_header";
  margin-bottom: 40px;
  text-shadow: 0px 0px 8px black;
  letter-spacing: 1rem;
}
.headerMain .headerMain_content p {
  font-size: max(1vw, 16px);
  font-weight: 400;
  font-family: "font_all";
}
.headerMain .headerMain_content a.btn-ContainVideo.btn-ContainVideo-coler {
  color: white;
  font-family: "font_all";
  border: 1px solid #fff;
  font-size: max(2vw, 25px);
  background: rgba(255, 255, 255, 0.25);
  padding: 5px 25px;
  text-decoration: none;
}
.headerMain .headerMain_content a.btn-ContainVideo.btn-ContainVideo-coler:hover {
  background: rgba(233, 88, 80, 0.25);
  border: 1px solid rgba(233, 88, 80, 0.75);
}

.catalogContainer {
  padding: 3rem 0rem 2rem 0rem;
  text-align: center;
}
.catalogContainer .justify-content-center {
  margin: 0;
}

.catalog1 {
  margin-bottom: 4rem;
}

.catalog2 {
  margin-bottom: 4rem;
}

.jumbotron {
  background: #182329;
  margin-top: -0.5px;
  padding: 1em;
}

.jumbotronAccroche {
  margin-top: 18px;
  font-size: 30px;
  color: white;
}

.footer_main {
  margin-bottom: 0px;
  padding: 0.6em;
}
.footer_main p {
  font-size: 16px;
}

@media (max-width: 576px) {
  .navbarMain {
    padding: 1rem 0rem 1rem 1rem;
  }
  .navbarMain .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbarMain .navbar-nav .active > a {
    padding: 0.5rem;
  }
  .navbarMain .navbar-nav .nav-link {
    margin: 10px;
  }
}
@media (max-width: 1200px) {
  .catalogContainer {
    padding: 3rem 0rem 1rem 0rem;
  }
}
@media (max-width: 995px) {
  .catalogContainer {
    padding: 3rem 0rem 0rem 0rem;
  }
}
@media (max-width: 990px) {
  .catalogContainer {
    padding: 3rem 0rem 0rem 0rem;
  }

  .catalog1 {
    margin-bottom: 2rem;
  }

  .catalog2 {
    margin-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .catalogContainer {
    padding: 1.5rem 0rem 1rem 0rem;
  }
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uL3Nhc3MvdG9vbHMvdHlwb3Muc2NzcyIsIi4uL3N0eWxlcy5jc3MiLCIuLi8uLi9zYXNzL3BhZ2VzL2luZGV4LnNjc3MiLCIuLi8uLi9zYXNzL2Jhc2UvbWVkaWEuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFHQTtFQUNJLDZCQUFBO0VBQ0EscURBQUE7RUFDQSxtQkFBQTtFQUNBLGtCQUFBO0FDRko7QURNQTtFQUNJLHVCQUFBO0VBQ0EsdURBQUE7RUFDQSxtQkFBQTtFQUNBLGtCQUFBO0FDSko7QUNYQTtFQUNDLDhCQUFBO1VBQUEsc0JBQUE7RUFDQSxTQUFBO0VBQ0EsVUFBQTtBRGFEOztBQ1ZBO0VBQ0ksVUFBQTtFQUNBLGtCQUFBO0VBQ0EsNEJBQUE7RUFDQSx5QkFBQTtFQUNBLCtCQUFBO0VBQ0EsaUJBQUE7RUFDQSxXQUFBO0VBQ0EsTUFBQTtFQUNBLE9BQUE7QURhSjs7QUNWQTtFQUNJLHlCQUFBO0VBQ0EsZUFBQTtBRGFKOztBQ1hBO0VBQ0ksaUNBQUE7QURjSjs7QUNYQTtFQUNJLHlCQUFBO0VBQ0EsZUFBQTtBRGNKOztBQ1ZBO0VBQ0ksbUJBQUE7QURhSjs7QUNYQTtFQUNJLG1CQUFBO0FEY0o7O0FDVEE7RUFDSSxhQUFBO0VBQ0EsV0FBQTtFQUNBLGVBQUE7QURZSjtBQ1ZJO0VBQ0ksa0JBQUE7RUFDQSxNQUFBO0VBQ0EsT0FBQTtFQUNBLFdBQUE7RUFDQSxZQUFBO0VBQ0EsZ0JBQUE7RUFDQSx5Q0FBQTtBRFlSO0FDUkk7RUFDSSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLHlCQUFBO01BQUEsc0JBQUE7VUFBQSxtQkFBQTtFQUNBLHdCQUFBO01BQUEscUJBQUE7VUFBQSx1QkFBQTtFQUNBLGtCQUFBO0FEVVI7QUNQSTtFQUNJLGdCQUFBO0VBQ0EsaUJBQUE7RUFDQSxrQkFBQTtFQUNBLFFBQUE7RUFDQSxTQUFBO0VBQ0Esd0NBQUE7TUFBQSxvQ0FBQTtVQUFBLGdDQUFBO0VBQ0Esb0JBQUE7S0FBQSxpQkFBQTtBRFNSO0FDUEk7RUFDSSxVQUFBO0FEU1I7QUNQUTtFQUNJLHlCQUFBO0VBQ0EsZ0JBQUE7RUFDQSw2QkFBQTtFQUNBLG1CQUFBO0VBQ0EsOEJBQUE7RUFFQSxvQkFBQTtBRFFaO0FDTFE7RUFDSSx5QkFBQTtFQUNBLGdCQUFBO0VBQ0EsdUJBQUE7QURPWjtBQ0pRO0VBQ0ksWUFBQTtFQUNBLHVCQUFBO0VBQ0Esc0JBQUE7RUFDQSx5QkFBQTtFQUNBLHFDQUFBO0VBQ0EsaUJBQUE7RUFDQSxxQkFBQTtBRE1aO0FDSFE7RUFDSSxtQ0FBQTtFQUNBLHlDQUFBO0FES1o7O0FDQ0E7RUFDSSw0QkFBQTtFQUNILGtCQUFBO0FERUQ7QUNESTtFQUNJLFNBQUE7QURHUjs7QUNBQTtFQUNJLG1CQUFBO0FER0o7O0FDQUE7RUFDSSxtQkFBQTtBREdKOztBQ0VBO0VBQ0ksbUJBQUE7RUFDQSxrQkFBQTtFQUNBLFlBQUE7QURDSjs7QUNFQTtFQUNJLGdCQUFBO0VBQ0EsZUFBQTtFQUNBLFlBQUE7QURDSjs7QUNRQTtFQUNJLGtCQUFBO0VBQ0EsY0FBQTtBRExKO0FDT0k7RUFDSSxlQUFBO0FETFI7O0FFL0lBO0VBRUk7SUFDSSw0QkFBQTtFRmlKTjtFRS9JTTtJQUNJLDhCQUFBO0lBQUEsNkJBQUE7UUFBQSx1QkFBQTtZQUFBLG1CQUFBO0VGaUpWO0VFL0lVO0lBQ0ksZUFBQTtFRmlKZDtFRTlJVTtJQUNJLFlBQUE7RUZnSmQ7QUFDRjtBRTFJQTtFQUNJO0lBQ0ksNEJBQUE7RUY0SU47QUFDRjtBRTFJQTtFQUNJO0lBQ0ksNEJBQUE7RUY0SU47QUFDRjtBRXpJQTtFQUNJO0lBQ0ksNEJBQUE7RUYySU47O0VFeklFO0lBQ0ksbUJBQUE7RUY0SU47O0VFMUlFO0lBQ0ksbUJBQUE7RUY2SU47QUFDRjtBRTNJQTtFQUNJO0lBQ0ksOEJBQUE7RUY2SU47QUFDRiIsImZpbGUiOiJzdHlsZXMuY3NzIn0= */