// header
@media(max-width: 1900px){
    .headerMain{
        height: 51vw;
    }
}
@media (max-width: 1024px){

    .headerMain_content{
        right: 20px;
        margin-top: 100px;
        width: 40%;
    }

    .headerMain_content h1{
        font-size: max(2vw, 30px);
        font-weight: 700;
    }
    
    .headerMain_content p{
        font-size: max(1vw, 16px);
    }

    a.btn-ContainVideo.btn-ContainVideo-coler{
        font-size: max(2vw, 12px);
        color: #e9585e;
    }
    a.btn-ContainVideo.btn-ContainVideo-coler:hover{
        color: white;
    }      
}

// liens de navbar et header
@media (max-width: 576px){

.navbar-nav {
        flex-direction: row !important;
    }
    .navbar-nav .nav-item{
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
    }

    .navbar-nav>.active>a{
        padding: 8px;
    }

    // header
    .embed-responsive{
        position: static;
    }
    
    .embed-responsive video{
        height: 120vh;
        width: 129%;
    }

    .catalogContainer{
        margin-top: 63vh;
    }
}