// liens de navbar
@media (max-width: 600px){

.navbar-nav {
        flex-direction: row !important;
    }
    .navbar-nav .nav-item{
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
    }

    .navbar-nav>.active>a{
        padding: 8px;
    }

    // Header
    .embed-responsive{
        position: static;
    }
}