@media (max-width: 576px){

    .navbarMain{
        padding: 2rem 0rem 1rem 1rem;

        .navbar-nav{
            flex-direction: row;

            .active>a{
                padding: .5rem;
            }
            
            .nav-link{
                margin: 10px;
            }
        }
        .navbar-nav>.active>a {
            // background-color: #fff !important;
            color: #e9585e!important;
        }
        
    }

    .headerMain_bgvideo{
        background: url("../img/bg_mobil.jpg") no-repeat center center/cover !important;
    }

    .headerMain_btn-coler{
        background: rgba(233, 88, 80, .25) !important;
        border: 1px solid rgba(233, 88, 80, .75) !important;
    }

    .categoryContainer{
        padding: 0rem 0rem 0rem 0rem;
    }
}

// ------------------------------ Categorys -------------------------
@media(max-width: 768px){
    .categoryContainer{
        padding: 3rem 0rem 4rem 0rem;
    }

    .category2_down{
    padding-top: 2rem;
}

}