#category{
    max-width: 80%;
}

.category1 h2, .category2 h2{
    font-size: max(1vw, 12px);
    color:  #182329;
    font-family: "font_all";
    font-weight: 600;

}
.category1{
    margin-bottom: 6rem;
}

.category1 img, .category2 img{
    border-radius: 1rem;
    border: 2px solid #fff;
    max-width: 350px;
    max-height: 200px;
}

// .category1 img:hover, .category2 img:hover{
//     border: 4px solid #182329;
// }

.category1:hover .card-title, .category2:hover .card-title{
    background-color: #182329;
    color: white;
    // margin: auto;
    // max-width: 80%;
    padding: .5rem;
}