// .container_chesse{
//     position: absolute;
// }

.articlsMain_navbar{
    padding: 2rem 0rem 2rem 2rem;
    background-color: #dcddd5;
    font-family: "font_text_navbar";
    font-weight: bold;
    width: 100%;
    top: 0;
    left: 0;
}