// navber
.header-top{
    padding: 35px 0px 35px 20px;
    background-color: #dcddd5;
    font-family: "font_text_navbar";
    font-weight: bold;
}

// liens de navbar

.navbar{
    z-index: 1;
}
.navbar-nav > li > a{
    color: #102025 !important;
    font-size: 18px;
}
.navbar-nav > .active > a{
    background-color: #fff !important;
}

.navbar-nav > li > a:hover{
    color: #e9585e !important;
    font-size: 18px;
}

// toggle
.navbar-toggler{
    background: #e9585e;
}
.navbar-toggler:hover {
    background: rgb(240, 160, 160);
}

// section

.headerMain{
    height: 46vw;
}

.header-containter{
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}
.headerMain_bgvideo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

//contenue h1
.headerMain_content{
    position: absolute;
    color: white;
    top: 50px;
    right: 20px;
    margin-top: 150px;
    width: 40%;
}

.headerMain_content h1{
    font-size: max(2vw, 50px);
    font-weight: 700;
    font-family: 'font_h1_header';
}


.headerMain_content p{
    font-size: max(1vw, 16px);
    font-weight: 400;
    margin-bottom: 20px;
    font-family: "font_all";
}


a.btn-ContainVideo.btn-ContainVideo-coler{
    color: white;
    font-family: "font_all";
    border: 1px solid #fff;
    font-size: max(2vw, 25px);
    background: rgba(255, 255, 255, .25);
    padding: 5px 25px;
    text-decoration: none;
}

a.btn-ContainVideo.btn-ContainVideo-coler:hover{
    background: rgba(233, 88, 80, .25);
    border: 1px solid rgba(233, 88, 80, .75);
}

//jumbotron

.jumbotron{
    background: #182329;
    margin-top: -0.5px;
    padding: 1em;
}

.jumbotronAccroche{
    margin-top: 18px;
    font-size: 30px;
    color: white;
}

//cataloge
.catalog1{
    margin-bottom: 20px;
}

.catalog2{
    margin-top: 40px;
}

//footer

.footer_main{
    margin-top: 100px;
    margin-bottom: 0px;
    padding: .6em;
}

.footer_main p{
    font-size: 16px;
}