* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html{
font-size: 16px;
}

video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('/img/photoContainer.JPG') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

.headerMain { 
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 50%;
  margin:2rem;
  float: right;
  font-size: 1.2rem;
}

.nBarText a{
  color: white !important;
  font-family: 'font_text_navbar';
  font-size: max(2vw, 15px);
}

h1 {
  font-size: max(2vw, 15px);
  font-family: 'font_h1_header';
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}

.headerMain-info{
  font-size: max(2vw, 10px);
  font-family: 'font_price';
  font-size: 1em;
}