@font-face {
    font-family: 'font_blue_btn_title';
    src: url('.././fonts/lato-black-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'font_price';
    src: url('.././fonts/lato-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'font_title_text';
    src: url('.././fonts/lato-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'font_text_navbar';
    src: url('.././fonts/lato-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'font_h1_header';
    src: url('.././fonts/lato-thin-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}